---
spring:
  profiles: local

tomcat:
  ajp:
    port: 8009

elasticHost: ${environment.datamodel-elastic.host}
elasticHttpPort: ${environment.datamodel-elastic.port}
elasticHttpScheme: http

endpoint: http://localhost:3030

devMode: true
defaultTermedAPI: http://${environment.termed-api.host}:${environment.termed-api.port}/api/

defaultGroupManagementAPI: ${environment.groupmanagement.url}/public-api/
publicGroupManagementAPI: ${environment.groupmanagement.public-url}
defaultSuomiCodeServerAPI: ${environment.codelist.public-url}/codelist-api/api/
defaultTermedAPIUser: admin
defaultTermedAPIUserSecret: admin
publicGroupManagementFrontend: ${environment.groupmanagement.public-url}
publicSuomiCodeServerFrontend: ${environment.codelist.public-url}
defaultTerminologyAPI: ${environment.terminology.url}/terminology-api/api/
privateTerminologyAPI: ${environment.terminology.url}/terminology-api/private/
publicTerminologyFrontend: ${environment.terminology.public-url}
publicCommentsFrontend: ${environment.comments.public-url}
publicTermedAPI: ${environment.terminology.public-url}/termed-api/
messagingEnabled: ${environment.messaging.enabled}
defaultNamespace: http://uri.suomi.fi/datamodel/ns/

provenance: true

migration:
  enabled: true
  packageLocation: fi.vm.yti.datamodel.api.migration.task

groupmanagement:
  url: ${environment.groupmanagement.url}
  public.url: ${environment.groupmanagement.public-url}

env: local

fake:
  login:
    allowed: true
    mail: "john.doe@example.com"
    firstName: "John"
    lastName: "Doe"

impersonate:
  allowed: true

---
spring:
  profiles: docker

tomcat:
  ajp:
    port: 8009

elasticHost: ${environment.datamodel-elastic.host}
elasticPort: ${environment.datamodel-elastic.port}
elasticHttpScheme: http

endpoint: http://yti-fuseki:3030

devMode: true
defaultTermedAPI: http://${environment.termed-api.host}:${environment.termed-api.port}/api/

defaultGroupManagementAPI: ${environment.groupmanagement.url}/public-api/
publicGroupManagementAPI: ${environment.groupmanagement.public-url}
defaultSuomiCodeServerAPI: ${environment.codelist.public-url}/codelist-api/api/v1/
defaultTermedAPIUser: admin
defaultTermedAPIUserSecret: admin
publicGroupManagementFrontend: ${environment.groupmanagement.public-url}
publicSuomiCodeServerFrontend: ${environment.codelist.public-url}
defaultTerminologyAPI: ${environment.terminology.url}/
publicTerminologyFrontend: ${environment.terminology.public-url}
publicCommentsFrontend: ${environment.comments.public-url}
publicTermedAPI: ${environment.terminology.public-url}/termed-api/
messagingEnabled: ${environment.messaging.enabled}
defaultNamespace: http://uri.suomi.fi/datamodel/ns/

provenance: true

migration:
  enabled: true
  packageLocation: fi.vm.yti.datamodel.api.migration.task

groupmanagement:
  url: ${environment.groupmanagement.url}
  public.url: ${environment.groupmanagement.public-url}

env: local

fake:
  login:
    allowed: true
    mail: "john.doe@example.com"
    firstName: "John"
    lastName: "Doe"

impersonate:
  allowed: true

